<!-- Header -->
<header class="u-full-width">
    <div class="row">
        <div class="eight columns">
            <img src="{{logo}}" alt="OC Videos Logo">
            <p>{{title}}</p>
        </div>

        <div class="four columns">
            {{#social}}
            <a href="{{link}}" target="_blank" class="social-links-item columns {{class}}"><i class="{{icon}}"></i></a>
            {{/social}}
        </div>
    </div>
</header>
